.password {
    background-image: linear-gradient(to bottom left,#67b6ce96,#7da60c7d);
    padding: 15px;
    text-align: left;
  }
  .showPassword{
    margin-left:5px;
  }
  .showPassword:hover{
    cursor: pointer;
  }
.website-info{
  display: flex;
  flex-direction: column;
}



/*sharepassword form*/
.shareForm{
  text-align: center;
}
.userToShare{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  padding: .5em;
}
.userToShare button{
  margin-inline: 1em;
}
.user-list{
  margin: 1.5em;
}
.shareForm .user-list{
  display: grid;
  justify-content: center;
}
.share-bttn{
  padding: .5em 1em;
  cursor: pointer;
}
.shareForm .submit{
  width: 100%;
  margin-top: 1em;
}