.landing section{
    
    padding: 2em;
}
.landing section > *{
    margin: auto;
    max-width: 1250px;
}



/*App description section*/
.appDescript{
    text-align: center;
    color: #52585e;
    text-transform: uppercase;
}
.appDescript:nth-child(even){
    left: 0;
}
.appDescript-box{
    width: 30%;
    min-width: 300px;
    padding: 1em;
    max-width: 500px !important;
}
.appDescript-box h3{
    margin: .7em;
}
.appDescript-box p{
    text-align: center;
}

/*Account type*/
.accountType{
    text-align: center;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #52585e;
}
.typeSelect {
    color: #eae7e2;
    display: flex;
    justify-content: center;
  }
  .type {
    width: 220px;
    height: 100px;
    padding: 15px;
    background-color: #73f0c74d;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in;
    text-decoration: none;
    color: #eae7e2;
  }
  .type:hover{
    cursor: pointer;
    background-color: #f0d32d61;
    scale: 1.2; 
  }
  .type.sha{
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }
  .type.hmac{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  }

